.unrealistic{background: #fafafa00;
background-position: top;
background-size: cover;
transition: .8s;
cursor: pointer;
padding: 150px 0;
 }

.unrealistic::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.856);
    width: 100%;
    height: 100%;
}
.photo{background: rgba(0, 0, 0, 0);
background-position: top;
background-size: cover;
transition: .8s;
padding: 150px 0;
 }


.photo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.829);
    width: 100%;
    height: 100%;
}
.your-it-shop{background: rgba(0, 0, 0, 0.801);
background-position: top;
background-size: cover;
transition: .8s;
padding: 150px 0;
 }


.your-it-shop::before{
    background: rgba(0, 0, 0, 0);
    background-position: top;
    background-size: cover;
    transition: .8s;
    padding: 150px 0;
}
.your-own-journey{background: rgba(0, 0, 0, 0);
background-position: top;
background-size: cover;
transition: .8s;
padding: 150px 0;
 }


.your-own-journey::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100%;
}
.royal{background: rgba(255, 255, 255, 0);
background-position: top;
background-size: cover;
transition: .8s;
padding: 150px 0;
 }


.royal::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.836);
    width: 100%;
    height: 100%;
}
.finix{background: rgba(0, 0, 0, 0);
background-position: top;
background-size: cover;
transition: .8s;

padding: 150px 0;
 }


.finix::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.829);
    width: 100%;
    height: 100%;
}


.project {
    color: #fafafa;
    position: relative;
    text-align: center;
    bottom: 60px;
    font-size: 38px;
    margin-bottom: 47px;

}

.project span{
    color: rgb(230, 27, 27);
}
.row {
    position: relative;
    
}
.feature-of-the-project h4 {
    position: relative;
    color: #ffffff;
    position: relative;
    bottom: 16px;
}

.color{color: rgb(212, 37, 37);}
.features-item ul {
    list-style: none;
    padding: 0;
}
.features-item ul li span {
    color: #fb4c4c;
    display: inline-block;
    font-size: 18px;
    position: relative;
    margin-right: 10px;
}
.features-item ul li {
    display: block;
    color: #fafafa;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 27px;
}
.features-item ul li a {
    color: #f71f1f !important;
    font-weight: 700;
}

.project-img{
background: url(../../images/finix.png) no-repeat ;
background-position: top;
background-size: cover;
transition: .8s;
padding: 200px 0;
position: relative;
border-radius: 10px;
cursor: pointer;
bottom: 20px;

}
.project-img:hover{

background-position: bottom;


}
.project-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.royal-img{
background: url(../../images/Royal.png) no-repeat ;
background-position: top;
background-size: cover;
transition: .8s;
padding: 200px 0;
position: relative;
border-radius: 10px;
cursor: pointer;

}
.royal-img:hover{

background-position: bottom;


}
.royal-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.your-journey{
background: url(../../images/Journey.png) no-repeat ;
background-position: top;
background-size: cover;
transition: .8s;
padding: 200px 0;
position: relative;
border-radius: 10px;
cursor: pointer;

}
.your-journey:hover{

background-position: bottom;



}
.your-journey::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.it-shop{
background: url(../../images/it.png) no-repeat ;
background-position: top;
background-size: cover;
transition: .8s;
padding: 200px 0;
position: relative;
border-radius: 10px;
cursor: pointer;

}
.it-shop:hover{

background-position: bottom;



}
.it-shop::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.247);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.unrealistic-photo{
background: url(../../images/1324.png) no-repeat ;
background-position: top;
background-size: cover;
transition: .8s;
padding: 200px 0;
position: relative;
border-radius: 10px;
cursor: pointer;

}
.unrealistic-photo:hover{

background-position: bottom;



}
.unrealistic-photo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.247);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.doctor{
background: url(../../images/dc.png) no-repeat ;
background-position: top;
background-size: cover;
transition: .8s;
padding: 200px 0;
position: relative;
border-radius: 10px;
cursor: pointer;

}
.doctor:hover{

background-position: bottom;



}
.doctor::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.247);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
span.carousel-control-next-icon {
    opacity: 0;
}
span.carousel-control-prev-icon {
    opacity: 0;
}